<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aniweeb - Your Anime Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home_styles.css') }}"> <!-- Link to your CSS file -->
</head>
<body>
    <header>
        <h1>Welcome to Aniweeb</h1>
        <nav>
            <ul>
                <li><a href="/news">Anime News</a></li>
                <li><a href="/tracker">Track Your Anime</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="/character">Search Character</a></li>
            </ul>
        </nav>
    </header>

    <section id="info">
        <h2>About Aniweeb</h2>
        <p>Your one-stop destination for all things anime! Stay updated with the latest news and track your favorite shows.</p>
    </section>

    <section id="news">
        <h2>Latest Anime News</h2>
        <div class="option-box">
            <a href="/news">Anime News</a>
            <p>Check out the latest updates in the anime world!</p>
            <!-- You can add news articles or links here -->
        </div>
    </section>

    <section id="tracker">
        <h2>Track Your Anime</h2>
        <a href="/tracker">Track Your Anime</a>
        <div class="option-box">
            <p>Keep track of the anime you are watching, plan to watch, or have completed.</p>
            <!-- You can add tracking options or links here -->
        </div>
    </section>

    <section>
        {% if data and data['data'] is not none and data['data'].get('Page') and data['data']['Page'].get('media') %}
        <div class="result-scroll-container">
            <div class="result-container">
                {% for anime in data['data']['Page']['media'] %}
                    <div class="pics-container">
                        <div class="result-image">
                            <img src="{{ anime['coverImage']['large'] }}" alt="{{ anime['title']['romaji'] }}">
                        </div>
                        <h3 class="result-title">{{ anime['title']['romaji'] }}</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p>No anime details found. Please try a different name.</p>
        {% endif %}
    </section>
        


    <footer>
        <p>&copy; 2023 Aniweeb. All rights reserved.</p>
    </footer>
</body>
</html>
