<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aniweeb - Anime Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Track Your Anime</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/character">Search Character</a></li>
                <li><a href="/news">Anime News</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="form-container">
            <form method="POST" action="/tracker">
                <label for="userInput">Enter Anime Name:</label>
                <input type="text" id="userInput" name="userInput" required>
                <button type="submit">Search</button>
            </form>
        </div>

        {% if data %}
        <div class="result-container">
            <div class="result-image">
                <img src="{{ data['data']['Media']['coverImage']['large'] }}" alt="{{ data['data']['Media']['title']['romaji'] }}">
            </div>
            <div class="result-details">
                <h2 class="result-title">{{ data['data']['Media']['title']['romaji'] }}</h2>
                <p class="result-rating">Average Score: {{ data['data']['Media']['averageScore'] }}</p>
                <p class="result-text">Episodes: {{ data['data']['Media']['episodes'] }}</p>
                <p class="result-text">Genres: {{ data['data']['Media']['genres'] | join(', ') }}</p>
                <p class="result-description">{{ data['data']['Media']['description'] | safe }}</p>
            </div>
        </div>
        {% endif %}
    </div>

    <footer>
        <p>&copy; 2023 Aniweeb. All rights reserved.</p>
    </footer>
</body>
</html>